.wp-block-meetup-simple-es5,
.wp-block-meetup-simple-es6 {
	background: #75a6ff;
}

.wp-block-meetup-call-to-action {
	text-align:center;
	border:1px solid #858585;
	padding:20px 10px;
	border-radius:3px;
}

.wp-block-meetup-call-to-action .wp-block-meetup-call-to-action__content {
	margin-bottom:1.5em;
}

.wp-block-meetup-call-to-action a.wp-block-meetup-call-to-action__link {
	box-shadow: none!important;
	text-decoration: none!important;
	border: none;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
	opacity: 1;
	background: #2091e1;
	transition: opacity .2s ease-in-out;
	padding:10px;
	font-size: 1em;
	color:white;
}
